body {
  font-weight: 400;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.6;
  color: #333333;
  text-rendering: optimizelegibility;
  padding: 50px 50px 50px 50px;
}

.page-header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eee;
}

.page-header__title {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  display: flex;
  justify-content: center;
  min-width: 100%;
  box-sizing: border-box;
  padding-top: 30px;
  margin-bottom: 30px;
}

.search-form__input {
  min-width: 400px;
  min-height: 25px;
  border: #333333 1px solid;
}

.users-list {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 100%;
}

.users-list__item {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  border: #333333 1px solid;
  padding: 20px;
}

.user-information {
  display: flex;
}

.user-information__image {
  align-self: center;
}
.features-list {
  list-style: none;
}

.user-information-biography {
  font-size: 12px;
}

.repos-list {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 100%;
}

.repos-list__item {
  display: flex;
  min-width: 100%;
  max-height: 40px;
  justify-content: space-between;
  border: #333333 1px solid;
  padding: 20px;
}

.repos-list__detail-information {
  display: flex;
  flex-direction: column;
}

.repos-list__detail-information p {
  padding: 0;
  margin: 0;
}
